.chartContainerWrapper {
  height: calc(100dvh - 164px);
}

.chartContainer {
  min-width: 400px;
  min-height: 500px;

  width: 100%;
  height: 100%;
}

.inputLineContainer {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.inputLineContainer > div {
  width: 25%;
}
